<%- include("header") -%>
<div class="wet">
  <h2><%=weatherDetail.city%> <%=weatherDetail.temp%>&#8451;</h2>
  <h2><%=weatherDetail.weatherDescription %></h2>
  <img src="http://openweathermap.org/img/wn/<%=weatherDetail.icon%>@2x.png">
</div>



  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>


  <div class="box">
  <%newListItems.forEach(function(item){%>
    <form action="/delete" method="post">
      <div class="item">
        <input value="<%=item._id%>" type="checkbox" onchange="this.form.submit()" name="checkbox">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%=listTitle%>" ></input>
    </form>
      <% })%>

      <form class="item" action="/" method="post">
        <input type="text"  name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list"value="<%=listTitle%>">+</button>
      </form>
  </div>

<%- include("footer") -%>
